
/libltdl/
*.in
/autom4te.cache/
/m4/
/src/.libs
/src/functions/.libs
/src/functions/.deps
/src/distributions/.libs
/src/distributions/.deps
*.la
*.lo
*.Plo
/INSTALL
/Makefile
/aclocal.m4
/compile
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/src/Makefile
/src/distributions/Makefile
/src/functions/Makefile
/stamp-h1
/config.h.in~
*.tar.gz
